%cfg;

# ---   *   ---   *   ---
# run BOOTSTRAP before launching module update

boot:
  use English qw($ARG $CHILD_ERROR);
  BEGIN {
    my $clean  = int grep {$ARG eq 'clean'} @ARGV;
    my $ex     = "$ENV{ARPATH}/avtomat/BOOTSTRAP";
       $ex    .= ' clean' if $clean;

    print `$ex`;
    exit  -1 if $CHILD_ERROR;

    @ARGV=grep {$_ ne 'clean'} @ARGV;
  };


# ---   *   ---   *   ---
# ^module update settings proper

bld:ar SWAN
xprt:SWAN/*.c


# ---   *   ---   *   ---
# the reason we're excluding so many things
# is we more or less rewrote the core packages
# and now need to build avtomat itself without
# *also* rewriting all of this stuff

skip:
  # these two are the ones we'd exclude for real
  scratch
  avto.pm

  # the rest is stuff i don't want to rewrite yet
  sys/A9M
  sys/rd
  sys/ipret
  sys/xlate
  sys/Tree/Exec
  sys/Bitformat
  sys/Bpack
  sys/Icebox
  sys/FStruc
  sys/Ring
  sys/id
  sys/FF
  sys/Mint
  Avt/FFI
  Avt/Droid
  Avt/XS
  Avt/olink
  Avt/CRun
  Avt/flatten
  Emit/fasm
  Emit/Cpp
  Emit/html
  Emit/Css
  Emit/Python
  Shb7/Bk/front
  Shb7/Bk/jar
  Type/Platypus
  Type/cstr


# ---   *   ---   *   ---
# syntax test


gen:[
  a.out:{
    "hello there";
  }
]


# ---   *   ---   *   ---
# RET
